---
name: Tagger

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get the Date
        run: echo "::set-env name=TAG::v$(date '+%Y%m%d.%H%M.%S')"
      - name: tag it up
        uses: hole19/git-tag-action@master
        env:
          TAG: ${{ env.TAG }}
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
